/*
 * Layout Properties (z-index, position, float, clear, display)
 * Box Model Properties (width, height, margin, padding)
 * Visual Properties (color, background, border, box-shadow)
 * Typography Properties (font-size, font-family, text-align, text-transform)
 * Misc Properties (cursor, overflow)
*/
body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #343a40;
}

/*
.bg-success { background-color: rgb(81, 231, 36) !important; }

.btn-success {
	color: rgb(81, 231, 36) !important;
	border-color: rgb(81, 231, 36) !important;
}

.btn-outline-success {
	color: rgb(81, 231, 36) !important;
	border-color: rgb(81, 231, 36) !important;
}
*/